.container {
	background-color: blanchedalmond;

	display: flex;
	flex-direction: column;

	width: 40vw;
	height: 100%;

	margin: 0px;
}

.reviewbasicinfo {
	display: flex;
	margin: 0px 10px 10px 10px;
	border: 0px;
	padding: 0px;
}

.reviewerinfo {
	margin: 0px 0px 0px 0px;
	border: 0px;
	padding: 0px;
}

.reviewerratinginfo {
	display: flex;
	margin: 0px 0px 0px 0px;
	border: 0px;
	padding: 0px;

	margin-left: auto;
}

.reviewtitle {
	align-self: center;
	justify-self: center;

	margin: 10px 0px 10px 0px;
	border: 0px;
	padding: 0px;
}

.reviewtextarea {
	margin: 0px 10px 10px 10px;
	flex-grow: 1;
	border: 0px;
	padding: 0px;
}
.reviewformtext {
	width: 100%;
	height: 100%;

	margin: 0px;
	border: 0px;
	padding: 0px;

	box-shadow: 5px 5px lightgrey;
}

.reviewbutton {
	display: flex;
	justify-content: center;

	margin: 0px 0px 10px 0px;
}
